*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.basliq{
    width: 100%;
    height: 500px;
    background-image: url(./Picture/slider-bg.jpg.webp);
    /* background-color: #0d0d0d; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    position: relative;
    z-index: 3;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 110px;
    width: 100%;
}
.basliq_esas >h1,p,button{
    margin: 30px 0;
}
.basliq_esas > button{
   padding: 15px;
   border: 0;
   font-weight: bolder;
}
.basliq_esas > button:hover{
    background-color: #aebcb9;
    color: white;
    border: 0;
    font-weight: bolder;
}

.ikinci_hisse{
    width: 100%;
    min-height: 150px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.ikinci_hisse_esas{
    width: 100%;
    min-height: 280px;
    box-shadow: 0px 0px 19px rgba(0,0,0,1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 40px;
    text-align: center;
    transform: translateY( -60px);
    background-color: white;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    padding: 20px;
}


.qutular{
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
}
.qutu_esas_qutular{
    width: 350px;
    height: 300px;
    background-color: white;
}
.qutu_esas_qutular > p{
    text-transform: uppercase;
    text-align: center;
    color: #f16266;
}
.qutu_esas_qutular img{
    width: 100%;
    height: 80%;
}
.qutu_esas{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px 25px ; 
    margin: 0 auto;
}