*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.basliq{
    width: 100%;
    height: 500px;
    background-image: url(./Picture/slider-bg.jpg.webp);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    position: relative;
    z-index: 3;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #444 !important;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 110px;
    width: 100%;
}
.basliq_esas >h1,p,button{
    margin: 30px 0;
}
.basliq_esas > button{
   padding: 15px;
   border: 0;
   font-weight: bolder;
}
.basliq_esas > button:hover{
    background-color: #aebcb9;
    color: white;
    border: 0;
    font-weight: bolder;
}
.basliq_esas h1{
    animation: ani 5s linear infinite;
    animation-fill-mode: both;
}
@keyframes ani{
    to{
        transform: rotateY(360deg);
    }
}

.ikinci_hisse{
    width: 100%;
    min-height: 150px;
    text-align: center;
}
.ikinci_hisse_esas{
    width: 100%;
    min-height: 280px;
    box-shadow: 0px 0px 19px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 40px;
    text-align: center;
    transform: translateY( -60px);
    background-color: white;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    padding: 20px;
}
.ikinci_hisse_esas > div > h3{
    font-size: 30px;
    font-weight: 900;
}
.ikinci_hisse_esas > div > span{
    font-weight: bolder;
    font-size: 20px;
}



.qutular{
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
}
.qutu_esas_qutular{
    width: 30%;
    min-height: 300px;
    background-color: white;
    box-shadow: 0px 0px 13px rgba(0,0,0, 0.3);
}
.qutu_esas{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px 25px ; 
    margin: 0 auto;
}
.qutu_esas_qutular > p{
    text-transform: uppercase;
    text-align: center;
    color: #f16266;
    margin: 15px;
}
.qutu_esas_qutular img{
    width: 100%;
    height: 80%;
}
@media only screen and (max-width: 950px) {
    .qutular{
        width: 100%;
        min-height: 500px;
        margin: 0 auto;
    }
    .qutu_esas_qutular{
        width: 45%;
        min-height: 300px;
        background-color: white;
        box-shadow: 0px 0px 13px rgba(0,0,0, 0.3);
    }
    .qutu_esas{
        width: 100%;
        min-height: 500px;
        display: flex;
        flex-wrap: wrap;
        gap: 70px 25px ; 
        margin: 0 auto;
    }
    .qutu_esas_qutular > p{
        text-transform: uppercase;
        text-align: center;
        color: #f16266;
        margin: 15px;
    }
    .qutu_esas_qutular img{
        width: 100%;
        height: 80%;
    }
   
}
@media only screen and (max-width: 700px) {
    .qutular{
        width: 100%;
        min-height: 500px;
        margin: 0 auto;
    }
    .qutu_esas_qutular{
        width: 100%;
        min-height: 300px;
        background-color: white;
        box-shadow: 0px 0px 13px rgba(0,0,0, 0.3);
    }
    .qutu_esas{
        width: 100%;
        min-height: 500px;
        display: flex;
        flex-wrap: wrap;
        gap: 70px 25px ; 
        margin: 0 auto;
    }
    .qutu_esas_qutular > p{
        text-transform: uppercase;
        text-align: center;
        color: #f16266;
        margin: 15px;
    }
    .qutu_esas_qutular img{
        width: 100%;
        height: 80%;
    }
   
}
.son{
    width: 100%;
    height: 300px;
    background-color: #f9f9f9;
}
.son_esas{
    text-align: center;
}
.son_esas > button{
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 0;
}

.son_esas > button:hover{
    background-color: #444;
    border-radius: 2px;
    color: white;
}
.son_esas > span{
    color: #f16266;
}
.son_esas > a{
    text-decoration: none;
    color: black;
}
.son_esas{
    padding-top: 40px !important;
    margin-top: 40px;
}